.gmr-edit-section {
    border-bottom: aliceblue 2px solid;
    padding: 1%;
}

.gmr-edit-ServiceProvider {
    border: none;
    font-size: xxx-large;
    color: #50ccff;
}

.gmr-section-title-edit {
    font-size: 20px;
    font-weight: bold;
}

.gmr-edit-container {
    position: relative;
    margin: 12%;
}

.gmr-save-changes {
    padding: .5%;
    position: absolute;
    right: 2%;
    top: 4%;
    background: white;
    border-radius: 25px;
    color: #50CCFF;
    border: 1px solid #50CCFF;
}

.gmr-edit-header {
    margin-top: 10px;

    display: flex; 
    justify-content: space-between; 
}

.gmr-fieldvalues{
    text-align: right;
}

/* --------------------- */

input[type="number"] {
    width: 2em;
}

select {
    height: 2em;
    margin-left: .5em;
}


.form-check-input {
    border: 1.5px solid #50ccff;
}

.fieldsection {
    
}

.test {
    visibility: hidden;
}

select[name="inputType"] {
    width: 92%;
    position: relative;
    left: 4%;
}

input, select {
    border: 1px solid #50CCFF;
    border-radius: 5px;
}

.gmr-bluefont {
    color: #50CCFF;
}